<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span style="color:#7EF06D" class="ion-float-left" >PALM</span>
      <span style="color:#FABC2D" class="ion-float-left">APP</span>


      <ion-icon name="bag-handle-outline" class="ion-float-right"></ion-icon>
      <span style="color:#2D37FA" class="ion-float-right">Productos</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Searchbar with cancel button shown on focus -->
<ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-item *ngFor ="let item of products">
    <ion-avatar slot="start">
      <!--<img src=".\assets\images\abono.png">-->
      <img src="{{item.uriImage}}">
    </ion-avatar>
    <ion-label>
      <h2> <span style="color:#7EF06D" >{{item.name}}</span></h2>
      <p>{{item.description}}</p>
      <p>${{item.price}}</p>
    </ion-label>

    <ion-fab-button color="light" size="small" >
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="warning" size="small" >
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" size="small" (click)="deleteConfirm(item.id)">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-fab-button>


    <ion-fab-button color="success" size="small" >
      <ion-icon name="mail-open-outline"></ion-icon>
    </ion-fab-button>



   <!-- <ion-button fill="outline" slot="end">Contactar</ion-button>-->
  </ion-item>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="tertiary" size="small" (click)="addProduct()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
