<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="back" (click)="goHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: -50px">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="icon">
    <p class="title">Tic-Tac-Toe</p>
    <p class="version">1.1.1</p>
    <a href="https://github.com/xymox1987" target="_blank" class="link">
      <p class="profile">xymox1987</p>
    </a>
  </div>
</ion-content>
